body.page-Calendarcalyearly_list3
{
padding-top:10px; padding-left:10px;
}
.page-Calendarcalyearly_list3 .rnr-c-grid .rnr-cs.rnr-cs.rnr-cs.rnr-cs.rnr-cs.rnr-cs,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-grid .rnr-cs.rnr-cs.rnr-cs.rnr-cs.rnr-cs.rnr-cs,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-grid .rnr-cs.rnr-cs.rnr-cs.rnr-cs.rnr-cs.rnr-cs
{
width: 10px;
}
.page-Calendarcalyearly_list3 .rnr-c-grid .rnr-rs,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-grid .rnr-rs,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-grid .rnr-rs
{
height: 10px;
}
.page-Calendarcalyearly_list3 .rnr-c-grid,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-grid,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-grid
{
margin-bottom:5px;
}
.page-Calendarcalyearly_list3 .rnr-c-grid,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-grid,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-grid
{
min-width: 800px;
}
.page-Calendarcalyearly_list3 .rnr-b-calyearly_list,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-calyearly_list,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-calyearly_list
{
white-space: nowrap;
}
.page-Calendarcalyearly_list3 .rnr-b-calyearly_list,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-calyearly_list,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-calyearly_list
{
text-align: right;
}
.page-Calendarcalyearly_list3 .rnr-b-calyearly_list > *,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-calyearly_list > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-calyearly_list > *
{

}
body.page-Calendarcalyearly_list3  > * > * > .rnr-center
{
width:100%;
}
body.page-Calendarcalyearly_list3 .rnr-center
{
padding-right: 5px;
}
.page-Calendarcalyearly_list3 .rnr-c-add_css,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-add_css,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-add_css
{
margin-bottom:5px;
}
.page-Calendarcalyearly_list3 .rnr-b-add_css,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-add_css,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-add_css
{
white-space: nowrap;
}
.page-Calendarcalyearly_list3 .rnr-b-add_css,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-add_css,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-add_css
{
text-align: right;
}
.page-Calendarcalyearly_list3 .rnr-b-add_css > *,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-add_css > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-add_css > *
{

}
.page-Calendarcalyearly_list3 .rnr-c-hmenu,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-hmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-hmenu
{
margin-bottom:0px;
}
.page-Calendarcalyearly_list3 .rnr-c-hmenu,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-hmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-c-hmenu
{
min-width: 100px;
}
.page-Calendarcalyearly_list3 .rnr-b-calyearly_nav,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-calyearly_nav,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-calyearly_nav
{
white-space: nowrap;
}
.page-Calendarcalyearly_list3 .rnr-b-calyearly_nav,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-calyearly_nav,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-calyearly_nav
{
text-align: right;
}
.page-Calendarcalyearly_list3 .rnr-b-calyearly_nav > *,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-calyearly_nav > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-calyearly_nav > *
{

}
.page-Calendarcalyearly_list3 .rnr-b-hmenu,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-hmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-hmenu
{
white-space: nowrap;
}
.page-Calendarcalyearly_list3 .rnr-b-hmenu,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-hmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-hmenu
{
text-align: left;
}
.page-Calendarcalyearly_list3 .rnr-b-hmenu > *,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-hmenu > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-hmenu > *
{

}
.page-Calendarcalyearly_list3 .rnr-b-languages,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-languages,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-languages
{
white-space: nowrap;
}
.page-Calendarcalyearly_list3 .rnr-b-languages,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-languages,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-languages
{
text-align: left;
}
.page-Calendarcalyearly_list3 .rnr-b-languages > *,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-languages > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-languages > *
{

}
.page-Calendarcalyearly_list3 .rnr-b-loggedas,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-loggedas,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-loggedas
{
white-space: nowrap;
}
.page-Calendarcalyearly_list3 .rnr-b-loggedas,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-loggedas,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-loggedas
{
text-align: left;
}
.page-Calendarcalyearly_list3 .rnr-b-loggedas > *,
  .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-loggedas > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalyearly_list3 .rnr-b-loggedas > *
{

}
body.page-Calendarcalyearly_list3 .rnr-toptable
{
width:100%;
}
body.page-Calendarcalyearly_list3 .rnr-top
{
padding-right: 5px;
}
