body.page-Calendarcalweekly_list3
{
padding-top:10px; padding-left:10px;
}
.page-Calendarcalweekly_list3 .rnr-c-form,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-c-form,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-c-form
{
margin-bottom:5px;
}
.page-Calendarcalweekly_list3 .rnr-c-form,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-c-form,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-c-form
{
min-width: 100px;
}
.page-Calendarcalweekly_list3 .rnr-b-calweekly_list,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-calweekly_list,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-calweekly_list
{
white-space: nowrap;
}
.page-Calendarcalweekly_list3 .rnr-b-calweekly_list,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-calweekly_list,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-calweekly_list
{
text-align: right;
}
.page-Calendarcalweekly_list3 .rnr-b-calweekly_list > *,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-calweekly_list > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-calweekly_list > *
{

}
body.page-Calendarcalweekly_list3  > * > * > .rnr-center
{
width:100%;
}
body.page-Calendarcalweekly_list3 .rnr-center
{
padding-right: 5px;
}
.page-Calendarcalweekly_list3 .rnr-c-add_css,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-c-add_css,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-c-add_css
{
margin-bottom:5px;
}
.page-Calendarcalweekly_list3 .rnr-b-add_css,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-add_css,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-add_css
{
white-space: nowrap;
}
.page-Calendarcalweekly_list3 .rnr-b-add_css,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-add_css,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-add_css
{
text-align: right;
}
.page-Calendarcalweekly_list3 .rnr-b-add_css > *,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-add_css > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-add_css > *
{

}
.page-Calendarcalweekly_list3 .rnr-c-hmenu,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-c-hmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-c-hmenu
{
margin-bottom:0px;
}
.page-Calendarcalweekly_list3 .rnr-c-hmenu,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-c-hmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-c-hmenu
{
min-width: 100px;
}
.page-Calendarcalweekly_list3 .rnr-b-calweekly_nav,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-calweekly_nav,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-calweekly_nav
{
white-space: nowrap;
}
.page-Calendarcalweekly_list3 .rnr-b-calweekly_nav,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-calweekly_nav,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-calweekly_nav
{
text-align: right;
}
.page-Calendarcalweekly_list3 .rnr-b-calweekly_nav > *,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-calweekly_nav > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-calweekly_nav > *
{

}
.page-Calendarcalweekly_list3 .rnr-b-hmenu,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-hmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-hmenu
{
white-space: nowrap;
}
.page-Calendarcalweekly_list3 .rnr-b-hmenu,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-hmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-hmenu
{
text-align: left;
}
.page-Calendarcalweekly_list3 .rnr-b-hmenu > *,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-hmenu > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-hmenu > *
{

}
.page-Calendarcalweekly_list3 .rnr-b-toplinks_hidden,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-toplinks_hidden,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-toplinks_hidden
{
white-space: nowrap;
}
.page-Calendarcalweekly_list3 .rnr-b-toplinks_hidden,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-toplinks_hidden,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-toplinks_hidden
{
text-align: left;
}
.page-Calendarcalweekly_list3 .rnr-b-toplinks_hidden > *,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-toplinks_hidden > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-toplinks_hidden > *
{

}
.page-Calendarcalweekly_list3 .rnr-b-languages,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-languages,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-languages
{
white-space: nowrap;
}
.page-Calendarcalweekly_list3 .rnr-b-languages,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-languages,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-languages
{
text-align: left;
}
.page-Calendarcalweekly_list3 .rnr-b-languages > *,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-languages > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-languages > *
{

}
.page-Calendarcalweekly_list3 .rnr-b-loggedas,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-loggedas,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-loggedas
{
white-space: nowrap;
}
.page-Calendarcalweekly_list3 .rnr-b-loggedas,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-loggedas,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-loggedas
{
text-align: left;
}
.page-Calendarcalweekly_list3 .rnr-b-loggedas > *,
  .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-loggedas > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-Calendarcalweekly_list3 .rnr-b-loggedas > *
{

}
body.page-Calendarcalweekly_list3 .rnr-toptable
{
width:100%;
}
body.page-Calendarcalweekly_list3 .rnr-top
{
padding-right: 5px;
}
