<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Back to {$backtomasterlink_caption}</a><span>{$pagetitlelabel renewals masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=id]:before {
		content: "{$label renewals id}";
	}
	.bs-gridcell[data-field=vendor_id]:before {
		content: "{$label renewals vendor_id}";
	}
	.bs-gridcell[data-field=order_description]:before {
		content: "{$label renewals order_description}";
	}
	.bs-gridcell[data-field=sold_to_id]:before {
		content: "{$label renewals sold_to_id}";
	}
	.bs-gridcell[data-field=ops_contact_id]:before {
		content: "{$label renewals ops_contact_id}";
	}
	.bs-gridcell[data-field=sourcing_contact_id]:before {
		content: "{$label renewals sourcing_contact_id}";
	}
	.bs-gridcell[data-field=previous_po]:before {
		content: "{$label renewals previous_po}";
	}
	.bs-gridcell[data-field=previous_lbg_pp]:before {
		content: "{$label renewals previous_lbg_pp}";
	}
	.bs-gridcell[data-field=impacted_by_dollar]:before {
		content: "{$label renewals impacted_by_dollar}";
	}
	.bs-gridcell[data-field=improvement_last_year]:before {
		content: "{$label renewals improvement_last_year}";
	}
	.bs-gridcell[data-field=improvement_comments]:before {
		content: "{$label renewals improvement_comments}";
	}
	.bs-gridcell[data-field=percent_product_sales]:before {
		content: "{$label renewals percent_product_sales}";
	}
	.bs-gridcell[data-field=service_type_id]:before {
		content: "{$label renewals service_type_id}";
	}
	.bs-gridcell[data-field=term_id]:before {
		content: "{$label renewals term_id}";
	}
	.bs-gridcell[data-field=support_start_date]:before {
		content: "{$label renewals support_start_date}";
	}
	.bs-gridcell[data-field=support_end_date]:before {
		content: "{$label renewals support_end_date}";
	}
	.bs-gridcell[data-field=comment_actions]:before {
		content: "{$label renewals comment_actions}";
	}
	.bs-gridcell[data-field=last_update]:before {
		content: "{$label renewals last_update}";
	}
	.bs-gridcell[data-field=alert_id]:before {
		content: "{$label renewals alert_id}";
	}
	.bs-gridcell[data-field=vendor_contact_id]:before {
		content: "{$label renewals vendor_contact_id}";
	}
	.bs-gridcell[data-field=erf]:before {
		content: "{$label renewals erf}";
	}
	.bs-gridcell[data-field=guid]:before {
		content: "{$label renewals guid}";
	}
	.bs-gridcell[data-field=documents]:before {
		content: "{$label renewals documents}";
	}
	.bs-gridcell[data-field=status_id]:before {
		content: "{$label renewals status_id}";
	}
	.bs-gridcell[data-field=cost]:before {
		content: "{$label renewals cost}";
	}
	.bs-gridcell[data-field=request_date]:before {
		content: "{$label renewals request_date}";
	}
	.bs-gridcell[data-field=quote_ref]:before {
		content: "{$label renewals quote_ref}";
	}
	.bs-gridcell[data-field=po]:before {
		content: "{$label renewals po}";
	}
	.bs-gridcell[data-field=cc_so]:before {
		content: "{$label renewals cc_so}";
	}
	.bs-gridcell[data-field=supplier_ref]:before {
		content: "{$label renewals supplier_ref}";
	}
	.bs-gridcell[data-field=supplier_order_ref]:before {
		content: "{$label renewals supplier_order_ref}";
	}
	.bs-gridcell[data-field=pod]:before {
		content: "{$label renewals pod}";
	}
	.bs-gridcell[data-field=task_number]:before {
		content: "{$label renewals task_number}";
	}
	.bs-gridcell[data-field=tracking_ref]:before {
		content: "{$label renewals tracking_ref}";
	}
	.bs-gridcell[data-field=delivery_code]:before {
		content: "{$label renewals delivery_code}";
	}
	.bs-gridcell[data-field=pulse_id]:before {
		content: "{$label renewals pulse_id}";
	}
	.bs-gridcell[data-field=date_billed]:before {
		content: "{$label renewals date_billed}";
	}
	.bs-gridcell[data-field=product_id]:before {
		content: "{$label renewals product_id}";
	}
	.bs-gridcell[data-field=renewal_date]:before {
		content: "{$label renewals renewal_date}";
	}
	.bs-gridcell[data-field=recurrence]:before {
		content: "{$label renewals recurrence}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$id_class}">{$label renewals id}</th>
			<th class="{$request_date_class}">{$label renewals request_date}</th>
			<th class="{$quote_ref_class}">{$label renewals quote_ref}</th>
			<th class="{$po_class}">{$label renewals po}</th>
			<th class="{$cc_so_class}">{$label renewals cc_so}</th>
			<th class="{$supplier_ref_class}">{$label renewals supplier_ref}</th>
			<th class="{$supplier_order_ref_class}">{$label renewals supplier_order_ref}</th>
			<th class="{$pod_class}">{$label renewals pod}</th>
			<th class="{$task_number_class}">{$label renewals task_number}</th>
			<th class="{$tracking_ref_class}">{$label renewals tracking_ref}</th>
			<th class="{$delivery_code_class}">{$label renewals delivery_code}</th>
			<th class="{$pulse_id_class}">{$label renewals pulse_id}</th>
			<th class="{$date_billed_class}">{$label renewals date_billed}</th>
			<th class="{$product_id_class}">{$label renewals product_id}</th>
			<th class="{$recurrence_class}">{$label renewals recurrence}</th>
			<th class="{$status_id_class}">{$label renewals status_id}</th>
			<th class="{$cost_class}">{$label renewals cost}</th>
			<th class="{$vendor_id_class}">{$label renewals vendor_id}</th>
			<th class="{$sold_to_id_class}">{$label renewals sold_to_id}</th>
			<th class="{$sourcing_contact_id_class}">{$label renewals sourcing_contact_id}</th>
			<th class="{$percent_product_sales_class}">{$label renewals percent_product_sales}</th>
			<th class="{$alert_id_class}">{$label renewals alert_id}</th>
			<th class="{$ops_contact_id_class}">{$label renewals ops_contact_id}</th>
			<th class="{$previous_po_class}">{$label renewals previous_po}</th>
			<th class="{$comment_actions_class}">{$label renewals comment_actions}</th>
			<th class="{$previous_lbg_pp_class}">{$label renewals previous_lbg_pp}</th>
			<th class="{$erf_class}">{$label renewals erf}</th>
			<th class="{$order_description_class}">{$label renewals order_description}</th>
			<th class="{$impacted_by_dollar_class}">{$label renewals impacted_by_dollar}</th>
			<th class="{$improvement_last_year_class}">{$label renewals improvement_last_year}</th>
			<th class="{$renewal_date_class}">{$label renewals renewal_date}</th>
			<th class="{$improvement_comments_class}">{$label renewals improvement_comments}</th>
			<th class="{$support_end_date_class}">{$label renewals support_end_date}</th>
			<th class="{$documents_class}">{$label renewals documents}</th>
			<th class="{$service_type_id_class}">{$label renewals service_type_id}</th>
			<th class="{$term_id_class}">{$label renewals term_id}</th>
			<th class="{$support_start_date_class}">{$label renewals support_start_date}</th>
			<th class="{$last_update_class}">{$label renewals last_update}</th>
			<th class="{$vendor_contact_id_class}">{$label renewals vendor_contact_id}</th>
			<th class="{$guid_class}">{$label renewals guid}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$id_class} bs-gridcell" data-field=id>{$id_mastervalue}</td>
			<td class="{$request_date_class} bs-gridcell" data-field=request_date>{$request_date_mastervalue}</td>
			<td class="{$quote_ref_class} bs-gridcell" data-field=quote_ref>{$quote_ref_mastervalue}</td>
			<td class="{$po_class} bs-gridcell" data-field=po>{$po_mastervalue}</td>
			<td class="{$cc_so_class} bs-gridcell" data-field=cc_so>{$cc_so_mastervalue}</td>
			<td class="{$supplier_ref_class} bs-gridcell" data-field=supplier_ref>{$supplier_ref_mastervalue}</td>
			<td class="{$supplier_order_ref_class} bs-gridcell" data-field=supplier_order_ref>{$supplier_order_ref_mastervalue}</td>
			<td class="{$pod_class} bs-gridcell" data-field=pod>{$pod_mastervalue}</td>
			<td class="{$task_number_class} bs-gridcell" data-field=task_number>{$task_number_mastervalue}</td>
			<td class="{$tracking_ref_class} bs-gridcell" data-field=tracking_ref>{$tracking_ref_mastervalue}</td>
			<td class="{$delivery_code_class} bs-gridcell" data-field=delivery_code>{$delivery_code_mastervalue}</td>
			<td class="{$pulse_id_class} bs-gridcell" data-field=pulse_id>{$pulse_id_mastervalue}</td>
			<td class="{$date_billed_class} bs-gridcell" data-field=date_billed>{$date_billed_mastervalue}</td>
			<td class="{$product_id_class} bs-gridcell" data-field=product_id>{$product_id_mastervalue}</td>
			<td class="{$recurrence_class} bs-gridcell" data-field=recurrence>{$recurrence_mastervalue}</td>
			<td class="{$status_id_class} bs-gridcell" data-field=status_id>{$status_id_mastervalue}</td>
			<td class="{$cost_class} bs-gridcell" data-field=cost>{$cost_mastervalue}</td>
			<td class="{$vendor_id_class} bs-gridcell" data-field=vendor_id>{$vendor_id_mastervalue}</td>
			<td class="{$sold_to_id_class} bs-gridcell" data-field=sold_to_id>{$sold_to_id_mastervalue}</td>
			<td class="{$sourcing_contact_id_class} bs-gridcell" data-field=sourcing_contact_id>{$sourcing_contact_id_mastervalue}</td>
			<td class="{$percent_product_sales_class} bs-gridcell" data-field=percent_product_sales>{$percent_product_sales_mastervalue}</td>
			<td class="{$alert_id_class} bs-gridcell" data-field=alert_id>{$alert_id_mastervalue}</td>
			<td class="{$ops_contact_id_class} bs-gridcell" data-field=ops_contact_id>{$ops_contact_id_mastervalue}</td>
			<td class="{$previous_po_class} bs-gridcell" data-field=previous_po>{$previous_po_mastervalue}</td>
			<td class="{$comment_actions_class} bs-gridcell" data-field=comment_actions>{$comment_actions_mastervalue}</td>
			<td class="{$previous_lbg_pp_class} bs-gridcell" data-field=previous_lbg_pp>{$previous_lbg_pp_mastervalue}</td>
			<td class="{$erf_class} bs-gridcell" data-field=erf>{$erf_mastervalue}</td>
			<td class="{$order_description_class} bs-gridcell" data-field=order_description>{$order_description_mastervalue}</td>
			<td class="{$impacted_by_dollar_class} bs-gridcell" data-field=impacted_by_dollar>{$impacted_by_dollar_mastervalue}</td>
			<td class="{$improvement_last_year_class} bs-gridcell" data-field=improvement_last_year>{$improvement_last_year_mastervalue}</td>
			<td class="{$renewal_date_class} bs-gridcell" data-field=renewal_date>{$renewal_date_mastervalue}</td>
			<td class="{$improvement_comments_class} bs-gridcell" data-field=improvement_comments>{$improvement_comments_mastervalue}</td>
			<td class="{$support_end_date_class} bs-gridcell" data-field=support_end_date>{$support_end_date_mastervalue}</td>
			<td class="{$documents_class} bs-gridcell" data-field=documents>{$documents_mastervalue}</td>
			<td class="{$service_type_id_class} bs-gridcell" data-field=service_type_id>{$service_type_id_mastervalue}</td>
			<td class="{$term_id_class} bs-gridcell" data-field=term_id>{$term_id_mastervalue}</td>
			<td class="{$support_start_date_class} bs-gridcell" data-field=support_start_date>{$support_start_date_mastervalue}</td>
			<td class="{$last_update_class} bs-gridcell" data-field=last_update>{$last_update_mastervalue}</td>
			<td class="{$vendor_contact_id_class} bs-gridcell" data-field=vendor_contact_id>{$vendor_contact_id_mastervalue}</td>
			<td class="{$guid_class} bs-gridcell" data-field=guid>{$guid_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>