<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Back to {$backtomasterlink_caption}</a><span>{$pagetitlelabel terms masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=id]:before {
		content: "{$label terms id}";
	}
	.bs-gridcell[data-field=term_description]:before {
		content: "{$label terms term_description}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$id_class}">{$label terms id}</th>
			<th class="{$term_description_class}">{$label terms term_description}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$id_class} bs-gridcell" data-field=id>{$id_mastervalue}</td>
			<td class="{$term_description_class} bs-gridcell" data-field=term_description>{$term_description_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>